<!-- 🏗 Structo the Builder -->
<!-- Utwórz podstawową strukturę dokumentu HTML dla strony głównej. -->
<!DOCTYPE html>
<html>
<head>
<!-- 🏗 Structo the Builder -->
<!-- Ustaw tytuł strony na "Shop - Home" -->
<title>Shop - Home</title>
</head>
<!-- 🏗 Structo the Builder -->
<!-- Główny nagłówek strony. -->
<body>
    <h1>Home</h1>
<!-- 🏗 Structo the Builder -->
<!-- Dodaj nawigację z linkami do różnych sekcji sklepu. -->
<nav>
    <a href='/product/add'>Add product</a><br />
    <a href='/product/new'>Newest product</a><br />
    <a href='/logout'>Logout</a>
  </nav>
</body>
</html>